nav{
    background-color: #212121 !important;
    color: white !important;

    a{
        color: white;
        &:hover{
            color: #be322c;
        }
    }

    li{
        margin: 0px 10px;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: #be322c;
            }
        }
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        padding-left: 25px;
        margin-bottom: 0;
        list-style: none;
    }

    .icon-theme{
        img{
            width: 20px;
        }
    }
}
