section{
    .card-contain{
        // display: flex;
    }

    .btn-primary{
        background-color: #be3237;
        border-color: #be3237;

        &:hover{
            background-color: #be3237c2;
        }
    }
}
